@font-face {
    font-family: "DancingScript";
    src: url('../assets/font/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DancingScript";
    src: url('../assets/font/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "RobotoFlex";
    src: url('../assets/font/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/font/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('../assets/font/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
